section:nth-of-type(2){
    width: 95%;
    margin: 70px auto 0 auto;
    padding: 70px 0 0 0;
}


#tituloProdutos{
    background-color: rgb(20, 104, 230);
    width: 330px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 0 10px;
    margin: auto;
}


#tituloProdutos > p{
    height: 100%;
    color: white;
    font-size: 22px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}


.containerCarrossel{
    width: 100%;
    height: 400px;
    background-color: rgb(74, 78, 75);
    border: 15px solid black;

    margin-top: 160px;
    position: relative;
}


.containerCarrossel > p{
    font-size: 38px;
    font-weight: bold;

    position: absolute;
    left: 50%;
    top: -80px;
    transform: translate(-50%);
}


.containerSlide{
    width: 300px;
    height: 95%;

    display: grid;
    grid-template: 65% 10% 15% 10% / 100% ;
}


.containerSlide div img{
    width: 100%;
}


.containerSlide p{
    font-size: 20px;
    color: rgb(255, 255, 255);

    text-align: center;
    padding: 0 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.containerSlide p:nth-child(2) span{
    text-decoration: line-through;
}



.carrosselSlide{
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proximoSlide, .slideAnterior{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border: none;
    background-position: center;
    background-size: cover;
    clip-path: circle(45% at 50% 50%);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    z-index: 999;
}


.proximoSlide{
    left: 80%;
    background-image: url('../IMG/setaD.png');
}


.slideAnterior{
    left: 13%;
    background-image: url('../IMG/setaE.png');
}


.proximoSlide.desativado, .slideAnterior.desativado{
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}







@media screen and (max-width: 1000px){
    .proximoSlide{
        left: 90%;
    }
    
    
    .slideAnterior{
        left: 10%;
    }
    
}



@media screen and (max-width: 800px){
    .containerCarrossel{
        height: 550px;
        padding: 70px 0 500px 0;
    }


    .containerSlide{
        height: 65%;
    }


    .carrosselSlide{
        align-items: start;
    }


    .proximoSlide{
        top: 90%;
        left: 68%;
    }
    
    
    .slideAnterior{
        top: 90%;
        left: 32%;
    }
}


@media screen and (max-width: 425px){
    .containerSlide{
        width: 100%;
    }
}


@media screen and (max-width: 400px){
    #tituloProdutos{
        width: 100%;
    }
}


@media screen and (max-width: 333px){
    .containerCarrossel{
        border: 5px solid black;
    }


    .proximoSlide{
        width: 70px;
        height: 70px;
        top: 90%;
        left: 75%;
    }
    
    
    .slideAnterior{
        width: 70px;
        height: 70px;
        top: 90%;
        left: 25%;
    }
}